@font-face { 
	font-family: "GlacialIndifference"; 
	src: url('../fonts/GlacialIndifference/WEB/GlacialIndifference-Regular.woff2'); 
}

@font-face { 
    font-family: GlacialIndifference; 
    font-weight: bold; 
    src: url('../fonts/GlacialIndifference/WEB/GlacialIndifference-Bold.woff2');
}

body {
    font-family: GlacialIndifference, sans-serif;
    line-height: 1.6em;
    font-size: 1.375em;
    width: 50%;
    margin: auto;
    background-color: gray;
}

nav {
    width: 50%;
    position: fixed;
    background-color: gray;
    padding: 0;
    margin: 0;
    top: 0;
}

.navul {
    padding: 0px;
       display: flex;
       flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    /* margin-bottom: 10em; */
}

h1 {
    line-height: 1.6em;
}

ul {
    list-style-type: none;
}

a:link{
    color: black;
}

a:visited {
    color: black;
}

.artend {
    margin: auto;
    width: 50%;
}

footer {
    font-size: 0.6875em;
}

.microart {
    margin-top: 2.5em;
    box-shadow: 10px 10px;
    background-color: #DBD9D8;

}

button {
    border-radius: 12px;
    font-family: GlacialIndifference, sans-serif;
    font-size: 1em;
}

.spacer {
    width: 100%;
  /* height: 2.5em; */
  border: 1px solid black;
    background-color: red;
}